<!-- Angular Material requires Angular.js Libraries -->
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/angular-animate.min.js"></script>
<script src="/js/dependencies/angular-aria.min.js"></script>
<script src="/js/dependencies/angular-ui-router.min.js"></script>

<!-- Angular Material Library -->
<script src="/js/dependencies/angular-material.min.js"></script>

<!-- Application bootstrap  -->
<script src="/js/app/mdcApp.js"></script>
<script src="/js/app/HomeCtrl.js"></script>
